{% extends "layouts/base.html" %}

{% block content %}

<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-0 ">HOME</h1>
        <p>
            Bienvenido a nuestra página web, el fruto de la creatividad y visión de Alen Saavedra. Aquí encontrarás una
            variedad de contenidos diseñados para inspirar, informar y entretener. Con una pasión por la innovación y un
            compromiso con la excelencia, Alen ha creado este espacio para compartir sus proyectos y conectar con una
            audiencia global. Gracias por visitarnos y esperamos que disfrutes de todo lo que tenemos para ofrecer.</p>

        <div class="text-center">
            <a class="btn btn-secondary" href="/signin">
                Signin
            </a>
            <a class="btn btn-dark" href="/signup">
                Signup
            </a>
        </div>

    </section>
</main>




{% endblock %}